<!DOCTYPE html>
<html>
<head>
	<title>Регистрация</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
	<link rel="stylesheet" href="C:\Users\Артем\Desktop\Project-A\static\KSOO.css">
</head>
<body>
	<div class="work-place">
		<div class="header">
			<div class="logo">
				<h1 class="margin-0" align="left">Project-A</h1> <!-- логотип будет картинкой, пока текст -->
			</div>
			<div class="left-menu"> <!-- Выплывающее меню при наведении -->
				<ul>
					<li>Аниме</li>
					<li>Новости</li>
					<li>О сайте</li>
					<li>FAQ</li>
				</ul>
			</div>
			<div class="search">
				<input type="" name="" placeholder="Поиск...">
			</div>
			<div class="prof"> <!-- Профиль + img + выплывающее меню с настройками профиля -->
				<ul>
					<li>Профиль</li>
					<li>Список аниме</li>
					<li>Настройки профиля</li>
					<li>Достижения</li> <!-- test -->
				</ul>
			</div>
			<div class="weather">
				<p>Погода</p>
			</div>
		</div>
		<div class="main">
			<h2>Регистрация</h2>
			<div class="reg-another">
				<p>Зарегестрируйтесь с помощью:</p> <!-- vk, twitter, facebook -->

			</div>
			<div class="reg">
				<p>Или создайте новую учётную запись:</p>
				<div class="form">
					<form action="URL" method="post">
						<p><input name="name" placeholder="Имя пользователя"></p>
						<p>Чуствителен к регистру</p>
						<p><input type="email" name="name" placeholder="Электронная почта"></p>
						<p>Чуствителен к регистру</p>
						<p><input name="password" placeholder="Пароль"></p>
						<p>Чуствителен к регистру</p>
						<!-- captcha -->
						<input type="submit" value="Зарегистрироваться">
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>